In [1]:
import json
import pandas as pd
import numpy as np

In [2]:
import warnings
warnings.filterwarnings('ignore')
warnings.warn('DelftStack')
warnings.warn('Do not show this message')

In [3]:
f = open('an-dao.json', encoding="utf8")

data = json.load(f)

## Read the data in json

In [58]:
# print(json.dumps(data, indent = 4, sort_keys=True))

In [5]:
def flatten_json(nested_json: dict, exclude: list=[''], sep: str='_') -> dict:
    """
    Flatten a list of nested dicts.
    """
    out = dict()
    def flatten(x: (list, dict, str), name: str='', exclude=exclude):
        if type(x) is dict:
            for a in x:
                if a not in exclude:
                    flatten(x[a], f'{name}{a}{sep}')
        elif type(x) is list:
            i = 0
            for a in x:
                flatten(a, f'{name}{i}{sep}')
                i += 1
        else:
            out[name[:-1]] = x

    flatten(nested_json)
    return out
#https://stackoverflow.com/questions/58442723/how-to-flatten-a-nested-json-recursively-with-flatten-json

In [6]:
# list to add dataframe from each file
df_list = list()

# # iterate through files
# for file in files:
#     with open(file, 'r', encoding='utf-8') as f:

#         # read with json
#         data = json.loads(f.read())

        # flatten_json into a dataframe and add to the dataframe list
df_list.append(pd.DataFrame.from_dict(flatten_json(data), orient='index').T)
        
# concat all dataframes together
df = pd.concat(df_list).reset_index(drop=True)

In [7]:
df=df.T
df=df.reset_index()
df.columns =['field', 'value']
df.head(15)

,field,value
0,data_organization_workspaces_0_id,a340fd5a-af7c-4526-ad43-018f5f59abe3
1,data_organization_workspaces_0_slug,dtech-guild
2,data_organization_workspaces_0_name,dTech Guild
3,data_organization_workspaces_0_createdAt,2022-03-18T16:29:01.423Z
4,data_organization_workspaces_1_id,eadc2630-1aaa-4734-88d4-f602fa4a7b9a
5,data_organization_workspaces_1_slug,operations-guild
6,data_organization_workspaces_1_name,Operations Guild
7,data_organization_workspaces_1_createdAt,2022-05-04T17:55:33.135Z
8,data_organization_workspaces_2_id,581f67b0-3279-4ac0-9276-28e9d615fcad
9,data_organization_workspaces_2_slug,test-office-hours
10,data_organization_workspaces_2_name,People Guild
11,data_organization_workspaces_2_createdAt,2022-05-27T12:06:45.986Z
12,data_organization_projects_0_id,bbee5cb5-791e-4d94-9558-37ff0cbc5f9e
13,data_organization_projects_0_slug,season-0-bounty-owne
14,data_organization_projects_0_name,Season 0 Bounty Owners

In [8]:
df['type1'] = df['field'].str.split('_').str[0]
df['type2'] = df['field'].str.split('_').str[1]
df['type3'] = df['field'].str.split('_').str[2]
df['project_num'] = df['field'].str.split('_').str[3]
df['tasks'] = df['field'].str.split('_').str[4]
df['task_num'] = df['field'].str.split('_').str[5]
df['detail1'] = df['field'].str.split('_').str[6]
df['detail1_num'] = df['field'].str.split('_').str[7]
df['detail2'] = df['field'].str.split('_').str[8]
df['detail2_num'] = df['field'].str.split('_').str[9]
df['detail3'] = df['field'].str.split('_').str[10]

df = df[['type3', 'project_num', 'tasks', 'task_num', 'detail1', 'detail1_num', 'detail2', 'detail2_num', 'detail3', 'value']]
df.head(50)

,type3,project_num,tasks,task_num,detail1,detail1_num,detail2,detail2_num,detail3,value
0,workspaces,0,id,NaN,NaN,NaN,NaN,NaN,NaN,a340fd5a-af7c-4526-ad43-018f5f59abe3
1,workspaces,0,slug,NaN,NaN,NaN,NaN,NaN,NaN,dtech-guild
2,workspaces,0,name,NaN,NaN,NaN,NaN,NaN,NaN,dTech Guild
3,workspaces,0,createdAt,NaN,NaN,NaN,NaN,NaN,NaN,2022-03-18T16:29:01.423Z
4,workspaces,1,id,NaN,NaN,NaN,NaN,NaN,NaN,eadc2630-1aaa-4734-88d4-f602fa4a7b9a
5,workspaces,1,slug,NaN,NaN,NaN,NaN,NaN,NaN,operations-guild
6,workspaces,1,name,NaN,NaN,NaN,NaN,NaN,NaN,Operations Guild
7,workspaces,1,createdAt,NaN,NaN,NaN,NaN,NaN,NaN,2022-05-04T17:55:33.135Z
8,workspaces,2,id,NaN,NaN,NaN,NaN,NaN,NaN,581f67b0-3279-4ac0-9276-28e9d615fcad
9,workspaces,2,slug,NaN,NaN,NaN,NaN,NaN,NaN,test-office-hours
10,workspaces,2,name,NaN,NaN,NaN,NaN,NaN,NaN,People Guild
11,workspaces,2,createdAt,NaN,NaN,NaN,NaN,NaN,NaN,2022-05-27T12:06:45.986Z
12,projects,0,id,NaN,NaN,NaN,NaN,NaN,NaN,bbee5cb5-791e-4d94-9558-37ff0cbc5f9e
13,projects,0,slug,NaN,NaN,NaN,NaN,NaN,NaN,season-0-bounty-owne
14,projects,0,name,NaN,NaN,NaN,NaN,NaN,NaN,Season 0 Bounty Owners
15,projects,0,createdAt,NaN,NaN,NaN,NaN,NaN,NaN,2022-02-27T20:36:14.139Z
16,projects,0,workspaceId,NaN,NaN,NaN,NaN,NaN,NaN,None
17,projects,0,tasks,0,id,NaN,NaN,NaN,NaN,8d759b3f-b7d2-4263-b8b9-5256aaab2cdd
18,projects,0,tasks,0,name,NaN,NaN,NaN,NaN,Tech Guild Dework Integration
19,projects,0,tasks,0,status,NaN,NaN,NaN,NaN,DONE
20,projects,0,tasks,0,priority,NaN,NaN,NaN,NaN,NONE
21,projects,0,tasks,0,createdAt,NaN,NaN,NaN,NaN,2022-03-09T18:11:19.288Z
22,projects,0,tasks,0,updatedAt,NaN,NaN,NaN,NaN,2022-03-09T18:16:35.076Z
23,projects,0,tasks,0,doneAt,NaN,NaN,NaN,NaN,2022-03-09T18:16:35.076Z
24,projects,0,tasks,0,owners,0,id,NaN,NaN,e49397ea-6b04-4056-8c67-236b903500c5
25,projects,0,tasks,0,owners,0,username,NaN,NaN,Anukriti
26,projects,0,tasks,0,owners,0,createdAt,NaN,NaN,2022-01-24T14:26:43.788Z
27,projects,0,tasks,0,owners,0,threepids,0,source,discord
28,projects,0,tasks,0,owners,0,threepids,0,threepid,895718994181505064
29,projects,0,tasks,0,assignees,0,id,NaN,NaN,8d068287-c1ed-4180-92f4-cba3987b2e60
30,projects,0,tasks,0,assignees,0,username,NaN,NaN,Spectra CryptoVerse
31,projects,0,tasks,0,assignees,0,createdAt,NaN,NaN,2022-02-10T22:07:03.970Z
32,projects,0,tasks,0,assignees,0,threepids,0,source,metamask
33,projects,0,tasks,0,assignees,0,threepids,0,threepid,0x96FBd75834FD9498f8b1E485D29541e74b8E6Ac7
34,projects,0,tasks,0,assignees,0,threepids,1,source,discord
35,projects,0,tasks,0,assignees,0,threepids,1,threepid,735967956239908884
36,projects,0,tasks,0,submissions,0,id,NaN,NaN,5ced9316-737c-4f65-bf82-db861a9fffc3
37,projects,0,tasks,0,submissions,0,createdAt,NaN,NaN,2022-03-09T18:15:00.932Z
38,projects,0,tasks,0,submissions,0,updatedAt,NaN,NaN,2022-03-09T18:16:34.850Z
39,projects,0,tasks,0,submissions,0,status,NaN,NaN,PENDING
40,projects,0,tasks,0,submissions,0,user,id,NaN,8d068287-c1ed-4180-92f4-cba3987b2e60
41,projects,0,tasks,0,submissions,0,user,username,NaN,Spectra CryptoVerse
42,projects,0,tasks,0,submissions,0,user,createdAt,NaN,2022-02-10T22:07:03.970Z
43,projects,0,tasks,0,submissions,0,user,threepids,0,metamask
44,projects,0,tasks,0,submissions,0,user,threepids,0,0x96FBd75834FD9498f8b1E485D29541e74b8E6Ac7
45,projects,0,tasks,0,submissions,0,user,threepids,1,discord
46,projects,0,tasks,0,submissions,0,user,threepids,1,735967956239908884
47,projects,0,tasks,1,id,NaN,NaN,NaN,NaN,8198edf5-dbd8-43af-a4ea-54fe02d32382
48,projects,0,tasks,1,name,NaN,NaN,NaN,NaN,Learnings and questions wall
49,projects,0,tasks,1,status,NaN,NaN,NaN,NaN,DONE

In [ ]:
# df1.to_csv('test1.csv')

In [ ]:
# df.info()

In [ ]:
# cond_1 = df['field'].str.contains("workspaces", case=False) == "True"
# cond_2 = df['field'].str.contains("workspaces", case=False) == "False"
# df['column_new'] = np.select([cond_1, cond_2], [df['field'].str[:28], df['field'].str[:26]], 'Other')

In [ ]:
# def new_value(column_1):
#     print(column_1)
# #     if column_1.str.contains("workspaces", case=False) == "True":
#     if "workspaces" in column_1:
#         return column_1[:28]
#     else:
#         return column_1[:26]

# df['type'] = df.apply(lambda row: new_value(row.field), axis = 1)

## Available data
Num of project
Num of tasks within a project
Name of tasks
Owner of tasks
Assinees for tasks (can be more than one)

### Participating Guilds

In [9]:
print(df[(df['type3']=='workspaces') & (df['tasks']=='name')].value.unique())

['dTech Guild' 'Operations Guild' 'People Guild']

### Number of Projects & Number of Tasks in a Project

In [10]:
numof_projects = len(df[(df['type3']=='projects')]['project_num'].unique())
print('Number of projects :',numof_projects)

Number of projects : 8

In [11]:
done1 = df[(df['detail1']=='status') & (df['value']=='DONE')]

print('Number of completed tasks :',len(done1)) 

# not all completed projects have a doneAt timestamp
# done = df[(df['detail1']=='doneAt') & (df['value'].notnull())]
# len(done)

Number of completed tasks : 40

In [12]:
print('Unique assignees :',df[(df['detail1']=='assignees') & (df['detail2']=='username')].value.unique())
print('')
print('Count of tasks per assignee :',df[(df['detail1']=='assignees') & (df['detail2']=='username')].value.value_counts())

Unique assignees : ['Spectra CryptoVerse' 'luizfernando' 'MDLawyer' 'lion917' 'Anukriti'
 'ricktik6' 'Elaheh' 'FMurphy' 'Aclay' 'chidi' 'Igor MD' 'Openlake'
 'callsense' 'Evgeniya4V' 'Baseballbatman' 'Burber.Sergiy' 'supermaria'
 'Romko' 'korzhon' 'DUMBRED' 'Azub' 'Fabs' 'ifun' 'SoulGenesis'
 'aakansha.eth']

Count of tasks per assignee : lion917                21
Anukriti               16
ricktik6               10
Aclay                   3
Elaheh                  2
FMurphy                 2
Spectra CryptoVerse     1
supermaria              1
SoulGenesis             1
ifun                    1
Fabs                    1
Azub                    1
DUMBRED                 1
korzhon                 1
Romko                   1
callsense               1
Burber.Sergiy           1
Baseballbatman          1
Evgeniya4V              1
luizfernando            1
Openlake                1
Igor MD                 1
chidi                   1
MDLawyer                1
aakansha.eth            1
Name: value, dtype: int64

In [13]:
print('Name of tasks :')
df[df['detail1']=='name'].value

Name of tasks :

18                          Tech Guild Dework Integration
48                           Learnings and questions wall
74                           Proposal for DeWork adoption
98                     Populate the DeWork season 0 board
124             Complete the Ops Notion page organization
                              ...
3073    April: Providing advise / guidance within the ...
3094                 Restructuring reward payment process
3125    May: Providing advise / guidance within the Fi...
3146                        Finance Coordinator tasks May
3167    Build an autonomous reward payment process for...
Name: value, Length: 65, dtype: object

In [14]:
print('Reward amounts :')
df[(df['detail1']=='rewards') & (df['detail2']=='amount')]
# df.loc[(df['detail1']=='rewards') & (df['detail2']=='amount')].value -- just the amount

Reward amounts :

,type3,project_num,tasks,task_num,detail1,detail1_num,detail2,detail2_num,detail3,value
897,projects,3,tasks,0,rewards,0,amount,NaN,NaN,300000000
943,projects,3,tasks,1,rewards,0,amount,NaN,NaN,300000000
966,projects,3,tasks,2,rewards,0,amount,NaN,NaN,300000000
989,projects,3,tasks,3,rewards,0,amount,NaN,NaN,300000000
1010,projects,3,tasks,4,rewards,0,amount,NaN,NaN,400000000
1097,projects,3,tasks,5,rewards,0,amount,NaN,NaN,400000000
1152,projects,3,tasks,6,rewards,0,amount,NaN,NaN,200000000
1265,projects,3,tasks,7,rewards,0,amount,NaN,NaN,200000000
1367,projects,3,tasks,8,rewards,0,amount,NaN,NaN,200000000
1513,projects,3,tasks,9,rewards,0,amount,NaN,NaN,200000000
1613,projects,3,tasks,10,rewards,0,amount,NaN,NaN,200000000
1821,projects,3,tasks,11,rewards,0,amount,NaN,NaN,200000000
1909,projects,3,tasks,12,rewards,0,amount,NaN,NaN,200000000
2092,projects,3,tasks,13,rewards,0,amount,NaN,NaN,200000000
2265,projects,3,tasks,14,rewards,0,amount,NaN,NaN,200000000
2391,projects,3,tasks,15,rewards,0,amount,NaN,NaN,200000000
2590,projects,3,tasks,16,rewards,0,amount,NaN,NaN,2000000000
2658,projects,3,tasks,17,rewards,0,amount,NaN,NaN,1000000000
2700,projects,3,tasks,18,rewards,0,amount,NaN,NaN,360000000
2772,projects,4,tasks,0,rewards,0,amount,NaN,NaN,600000000
2857,projects,4,tasks,1,rewards,0,amount,NaN,NaN,600000000
2938,projects,5,tasks,0,rewards,0,amount,NaN,NaN,10000000
2978,projects,5,tasks,1,rewards,0,amount,NaN,NaN,90000000
3179,projects,5,tasks,9,rewards,0,amount,NaN,NaN,1000000000

In [57]:
numof_projects = len(df[(df['type3']=='projects')]['project_num'].unique())
print('numof_projects:', numof_projects)

for j in range(numof_projects):
    print('')
    print('project_num :', j)
    print('project_name :',df[(df['type3']=='projects')&(df['project_num']==str(j))&(df['tasks']=='name')]['value'].values[0])
    print('number of tasks in project :',len(df[(df['type3']=='projects')&(df['project_num']==str(j))&(df['tasks']=='tasks')]['task_num'].unique()))

    project = df[(df['type3']=='projects')&(df['project_num']==str(j))]
    numof_project_tasks = len(project[(project['tasks']=='tasks')]['task_num'].unique())

    for i in range(numof_project_tasks):
        print('')
        print('    task number :', i)
        print('    task name :', project[(project['tasks']=='tasks')&(df['task_num']==str(i))&(df['detail1']=='name')]['value'].values[0])
        print('    task status :', project[(project['tasks']=='tasks')&(df['task_num']==str(i))&(df['detail1']=='status')]['value'].values[0])
        print('    task created time :', project[(project['tasks']=='tasks')&(df['task_num']==str(i))&(df['detail1']=='createdAt')]['value'].values[0])
        print('    task done time :', project[(project['tasks']=='tasks')&(df['task_num']==str(i))&(df['detail1']=='doneAt')]['value'].values[0])

        if not project[(project['tasks']=='tasks')&(df['task_num']==str(i))&(df['detail1']=='owners')&(df['detail2']=='username')]['value'].empty:
            print('    task owner :', project[(project['tasks']=='tasks')&(df['task_num']==str(i))&(df['detail1']=='owners')&(df['detail2']=='username')]['value'].values[0])
        else:
            print ('    task owner not defined')
        
        if not project[(project['tasks']=='tasks')&(df['task_num']==str(i))&(df['detail1']=='assignees')&(df['detail2']=='username')]['value'].empty:
            print('    task assignees :', project[(project['tasks']=='tasks')&(df['task_num']==str(i))&(df['detail1']=='assignees')&(df['detail2']=='username')]['value'].values[0])
        else:
            print ('    task assignees not defined')
                  
        if not project[(project['tasks']=='tasks')&(df['task_num']==str(i))&(df['detail1']=='rewards')&(df['detail2']=='amount')]['value'].empty:
            print('    task rewards :', int(project[(project['tasks']=='tasks')&(df['task_num']==str(i))&(df['detail1']=='rewards')&(df['detail2']=='amount')]['value'].values[0])/1000000)
        else:
            print ('    task rewards not defined')             
            

        
print('')

numof_projects: 8

project_num : 0
project_name : Season 0 Bounty Owners
number of tasks in project : 5

    task number : 0
    task name : Tech Guild Dework Integration
    task status : DONE
    task created time : 2022-03-09T18:11:19.288Z
    task done time : 2022-03-09T18:16:35.076Z
    task owner : Anukriti
    task assignees : Spectra CryptoVerse
    task rewards not defined

    task number : 1
    task name : Learnings and questions wall
    task status : DONE
    task created time : 2022-03-02T19:29:53.001Z
    task done time : 2022-03-09T16:34:06.572Z
    task owner : Anukriti
    task assignees : luizfernando
    task rewards not defined

    task number : 2
    task name : Proposal for DeWork adoption
    task status : IN_PROGRESS
    task created time : 2022-02-27T20:55:02.766Z
    task done time : None
    task owner : MDLawyer
    task assignees : MDLawyer
    task rewards not defined

    task number : 3
    task name : Populate the DeWork season 0 board
    task status : DONE
    task created time : 2022-02-27T20:48:53.263Z
    task done time : 2022-03-02T04:29:01.679Z
    task owner : Anukriti
    task assignees : Anukriti
    task rewards not defined

    task number : 4
    task name : Complete the Ops Notion page organization
    task status : DONE
    task created time : 2022-02-27T20:47:28.821Z
    task done time : 2022-03-09T16:33:56.468Z
    task owner : Anukriti
    task assignees not defined
    task rewards not defined

project_num : 1
project_name : Ops Management Tasks
number of tasks in project : 28

    task number : 0
    task name : Onboard New Contributors to Ops Guild
    task status : TODO
    task created time : 2022-06-01T02:02:43.268Z
    task done time : None
    task owner : Anukriti
    task assignees : Anukriti
    task rewards not defined

    task number : 1
    task name : EOM Report to ESD
    task status : TODO
    task created time : 2022-06-01T02:01:49.519Z
    task done time : None
    task owner : Anukriti
    task assignees : Anukriti
    task rewards not defined

    task number : 2
    task name : Discord Feedback Session
    task status : DONE
    task created time : 2022-05-31T08:53:49.048Z
    task done time : 2022-05-31T08:53:57.273Z
    task owner : lion917
    task assignees : lion917
    task rewards not defined

    task number : 3
    task name : Notion Jam Session 3
    task status : DONE
    task created time : 2022-05-31T06:13:38.426Z
    task done time : 2022-05-31T06:13:38.382Z
    task owner : lion917
    task assignees : lion917
    task rewards not defined

    task number : 4
    task name : Create a TLDR for the DAO
    task status : TODO
    task created time : 2022-05-26T22:23:05.923Z
    task done time : None
    task owner : Anukriti
    task assignees : Anukriti
    task rewards not defined

    task number : 5
    task name : Design Reporting AN DAO System
    task status : DONE
    task created time : 2022-05-24T15:12:39.158Z
    task done time : 2022-05-31T06:13:06.121Z
    task owner : lion917
    task assignees : ricktik6
    task rewards not defined

    task number : 6
    task name : Post Ukraine Bounties
    task status : DONE
    task created time : 2022-05-20T14:00:03.739Z
    task done time : 2022-05-26T22:23:27.457Z
    task owner : luizfernando
    task assignees : Anukriti
    task rewards not defined

    task number : 7
    task name : Talk to Julia and Sammie for Data Bounties
    task status : DONE
    task created time : 2022-05-20T01:38:17.927Z
    task done time : 2022-05-26T22:23:11.123Z
    task owner : Anukriti
    task assignees : Anukriti
    task rewards not defined

    task number : 8
    task name : Develop best practices with AN DAO
    task status : DONE
    task created time : 2022-05-20T01:10:49.255Z
    task done time : 2022-05-20T13:59:29.336Z
    task owner : lion917
    task assignees : lion917
    task rewards not defined

    task number : 9
    task name : Work with Rick: Reporting
    task status : DONE
    task created time : 2022-05-17T18:03:02.649Z
    task done time : 2022-05-26T00:52:40.717Z
    task owner : lion917
    task assignees : Anukriti
    task rewards not defined

    task number : 10
    task name : Interview Bounty Applicants
    task status : DONE
    task created time : 2022-05-17T17:42:53.888Z
    task done time : 2022-05-26T00:52:48.127Z
    task owner : lion917
    task assignees : lion917
    task rewards not defined

    task number : 11
    task name : Bounties posted on DeWork - Ops, Finance, Growth
    task status : DONE
    task created time : 2022-05-14T18:40:49.206Z
    task done time : 2022-05-16T17:59:19.016Z
    task owner : Aclay
    task assignees : Anukriti
    task rewards not defined

    task number : 12
    task name : Create a Template/Guidelines for a Guild Page
    task status : IN_REVIEW
    task created time : 2022-05-11T17:51:07.571Z
    task done time : None
    task owner : lion917
    task assignees : lion917
    task rewards not defined

    task number : 13
    task name : Merge Handbook Content with Notion
    task status : TODO
    task created time : 2022-05-11T17:50:27.538Z
    task done time : None
    task owner : lion917
    task assignees : lion917
    task rewards not defined

    task number : 14
    task name : Make Who's Who Database Automatically Updatable
    task status : IN_PROGRESS
    task created time : 2022-05-11T17:50:02.472Z
    task done time : None
    task owner : lion917
    task assignees : Elaheh
    task rewards not defined

    task number : 15
    task name : In-Depth Analysis of Notion Spreadsheet
    task status : IN_PROGRESS
    task created time : 2022-05-11T17:49:19.002Z
    task done time : None
    task owner : lion917
    task assignees : lion917
    task rewards not defined

    task number : 16
    task name : Centralise Meetings (Tactical Page)
    task status : IN_PROGRESS
    task created time : 2022-05-11T17:48:39.285Z
    task done time : None
    task owner : lion917
    task assignees : Anukriti
    task rewards not defined

    task number : 17
    task name : Post Design Principles for Notion
    task status : DONE
    task created time : 2022-05-11T17:45:46.860Z
    task done time : 2022-05-31T17:14:22.821Z
    task owner : lion917
    task assignees : lion917
    task rewards not defined

    task number : 18
    task name : Discord Structure V2
    task status : DONE
    task created time : 2022-05-11T17:44:35.760Z
    task done time : None
    task owner : lion917
    task assignees : lion917
    task rewards not defined

    task number : 19
    task name : Notion Jam Session 2
    task status : DONE
    task created time : 2022-05-11T17:42:42.661Z
    task done time : 2022-05-16T17:59:23.469Z
    task owner : Anukriti
    task assignees : lion917
    task rewards not defined

    task number : 20
    task name : Monthly AN DAO Community Call
    task status : DONE
    task created time : 2022-05-10T01:54:38.335Z
    task done time : 2022-05-26T22:23:33.298Z
    task owner not defined
    task assignees : Anukriti
    task rewards not defined

    task number : 21
    task name : Build out Core Ops Notion Page
    task status : DONE
    task created time : 2022-05-10T01:46:33.549Z
    task done time : 2022-05-17T17:37:22.497Z
    task owner : Joey C | Aragon.org - OOO
    task assignees : lion917
    task rewards not defined

    task number : 22
    task name : S0 Feedback on Forum
    task status : DONE
    task created time : 2022-05-10T01:45:06.112Z
    task done time : 2022-05-31T06:13:03.939Z
    task owner : Anukriti
    task assignees : lion917
    task rewards not defined

    task number : 23
    task name : Notion Jam Session 1
    task status : DONE
    task created time : 2022-05-10T01:43:35.673Z
    task done time : None
    task owner : Anukriti
    task assignees : lion917
    task rewards not defined

    task number : 24
    task name : Bounty Information - Murphy
    task status : DONE
    task created time : 2022-05-10T01:39:53.878Z
    task done time : 2022-05-16T17:59:29.110Z
    task owner : Anukriti
    task assignees : FMurphy
    task rewards not defined

    task number : 25
    task name : Bounty Information - Finance and Treasury
    task status : DONE
    task created time : 2022-05-09T22:09:35.790Z
    task done time : 2022-05-16T15:35:40.732Z

    task owner : Anukriti
    task assignees : Aclay
    task rewards not defined

    task number : 26
    task name : Bounty Board Submission Form
    task status : DONE
    task created time : 2022-05-09T22:08:44.834Z
    task done time : 2022-05-14T22:55:50.676Z
    task owner : Anukriti
    task assignees : Anukriti
    task rewards not defined

    task number : 27
    task name : Bounty Board Management - Notion
    task status : DONE
    task created time : 2022-05-09T22:03:01.211Z
    task done time : 2022-05-17T17:37:16.919Z
    task owner : lion917
    task assignees : Anukriti
    task rewards not defined

project_num : 2
project_name : Growth Squad Tasks
number of tasks in project : 1

    task number : 0
    task name : Test task - Bounty to Anukriti
    task status : TODO
    task created time : 2022-05-10T19:03:59.584Z
    task done time : None
    task owner : Anukriti
    task assignees : FMurphy
    task rewards not defined

project_num : 3
project_name : Operations Guild's Bounties
number of tasks in project : 19

    task number : 0
    task name : Seeking an experienced DAO expert (generalist)
    task status : TODO
    task created time : 2022-06-06T18:47:07.093Z
    task done time : None
    task owner : Anukriti
    task assignees not defined
    task rewards : 300.0

    task number : 1
    task name : Seeking an experienced web3 product DAO expert
    task status : TODO
    task created time : 2022-06-06T18:41:50.010Z
    task done time : None
    task owner : Anukriti
    task assignees not defined
    task rewards : 300.0

    task number : 2
    task name : Seeking an experienced art/music/culture DAO expert
    task status : TODO
    task created time : 2022-06-06T18:39:46.156Z
    task done time : None
    task owner : Anukriti
    task assignees not defined
    task rewards : 300.0

    task number : 3
    task name : Seeking an experienced investment DAO expert
    task status : TODO
    task created time : 2022-06-06T18:33:04.219Z
    task done time : None
    task owner : Anukriti
    task assignees not defined
    task rewards : 300.0

    task number : 4
    task name : Content Bounty
    task status : IN_REVIEW
    task created time : 2022-05-26T11:55:30.108Z
    task done time : None
    task owner : FMurphy
    task assignees : chidi
    task rewards : 400.0

    task number : 5
    task name : Content Bounty
    task status : IN_REVIEW
    task created time : 2022-05-26T11:52:25.308Z
    task done time : None
    task owner : FMurphy
    task assignees : Igor MD
    task rewards : 400.0

    task number : 6
    task name : Translation of "DAOs as Purpose-Led Organizations" article to Russian
    task status : DONE
    task created time : 2022-05-20T16:38:56.270Z
    task done time : 2022-05-29T18:12:26.848Z
    task owner : DeFiniTed
    task assignees : Openlake
    task rewards : 200.0

    task number : 7
    task name : Translation of "How to Join a DAO" article to Russian
    task status : DONE
    task created time : 2022-05-20T16:37:32.524Z
    task done time : 2022-05-29T19:54:57.045Z
    task owner : Anukriti
    task assignees : callsense
    task rewards : 200.0

    task number : 8
    task name : Translation of "What Is It Like to Join a DAO?" article to Russian
    task status : DONE
    task created time : 2022-05-20T16:31:25.057Z
    task done time : 2022-05-31T10:17:59.069Z
    task owner : DeFiniTed
    task assignees : Evgeniya4V
    task rewards : 200.0

    task number : 9
    task name : Translation of "How to DAO: Answers for Beginners" article to Russian
    task status : DONE
    task created time : 2022-05-20T16:29:25.761Z
    task done time : 2022-05-27T23:30:08.999Z
    task owner : luizfernando
    task assignees : Baseballbatman
    task rewards : 200.0

    task number : 10
    task name : Translation of "What is a DAO?" article to Russian
    task status : DONE
    task created time : 2022-05-20T16:27:16.061Z
    task done time : 2022-05-30T09:06:31.201Z
    task owner : Anukriti
    task assignees : Burber.Sergiy
    task rewards : 200.0

    task number : 11
    task name : Translation of "DAOs as Purpose-Led Organizations" article to Ukrainian
    task status : DONE
    task created time : 2022-05-20T16:25:11.545Z
    task done time : 2022-05-29T18:09:18.872Z
    task owner : Anukriti
    task assignees : supermaria
    task rewards : 200.0

    task number : 12
    task name : Translation of "How to Join a DAO" article to Ukrainian
    task status : DONE
    task created time : 2022-05-20T16:07:37.790Z
    task done time : 2022-05-29T19:54:52.918Z
    task owner : DeFiniTed
    task assignees : Romko
    task rewards : 200.0

    task number : 13
    task name : Translation of "What Is It Like to Join a DAO?" article to Ukrainian
    task status : DONE
    task created time : 2022-05-20T16:05:10.916Z
    task done time : 2022-05-31T10:17:50.488Z
    task owner : DeFiniTed
    task assignees : korzhon
    task rewards : 200.0

    task number : 14
    task name : Translation of "How to DAO: Answers for Beginners" article to Ukrainian
    task status : DONE
    task created time : 2022-05-20T15:27:47.427Z
    task done time : 2022-05-27T23:30:19.342Z
    task owner : Anukriti
    task assignees : DUMBRED
    task rewards : 200.0

    task number : 15
    task name : Translation of "What is a DAO?" article to Ukrainian
    task status : DONE
    task created time : 2022-05-20T15:21:49.861Z
    task done time : 2022-05-30T09:06:26.955Z
    task owner : Anukriti
    task assignees : Azub
    task rewards : 200.0

    task number : 16
    task name : Metrics and Insights Contributor
    task status : IN_REVIEW
    task created time : 2022-05-17T21:16:10.948Z
    task done time : None
    task owner : Anukriti
    task assignees : Fabs
    task rewards : 2000.0

    task number : 17
    task name : DAO Tooler
    task status : IN_REVIEW
    task created time : 2022-05-14T19:21:48.264Z
    task done time : None
    task owner : Anukriti
    task assignees : ifun
    task rewards : 1000.0

    task number : 18
    task name : DAO Cartographer
    task status : IN_REVIEW
    task created time : 2022-05-14T19:02:59.135Z
    task done time : None
    task owner : Anukriti
    task assignees : Elaheh
    task rewards : 360.0

project_num : 4
project_name : dTech Open bounties
number of tasks in project : 2

    task number : 0
    task name : Community review Tech Doc. III Part Dev. (CLI) 2/2 (DTG.P2.M5.N3)
    task status : IN_PROGRESS
    task created time : 2022-05-17T16:01:31.397Z
    task done time : None
    task owner : Carla78
    task assignees : SoulGenesis
    task rewards : 600.0

    task number : 1
    task name : Community review Tech Doc. III Part Dev. (CLI) 1/2 (DTG.P2.M5.N2)
    task status : IN_PROGRESS
    task created time : 2022-05-17T16:00:35.192Z
    task done time : None
    task owner : Carla78
    task assignees : aakansha.eth
    task rewards : 600.0

project_num : 5
project_name : Finance Squad Bounties
number of tasks in project : 10

    task number : 0
    task name : 10% ANT split
    task status : DONE
    task created time : 2022-05-27T10:47:54.974Z
    task done time : 2022-05-27T10:48:59.033Z
    task owner : ricktik6
    task assignees : ricktik6
    task rewards : 10.0

    task number : 1
    task name : Test
    task status : DONE
    task created time : 2022-05-27T10:47:54.359Z
    task done time : 2022-05-27T10:49:32.848Z
    task owner : ricktik6
    task assignees : ricktik6
    task rewards : 90.0

    task number : 2
    task name : Implementing a new payment tool, before end of S1
    task status : IN_PROGRESS
    task created time : 2022-05-26T09:22:33.264Z
    task done time : None
    task owner : Aclay
    task assignees : ricktik6
    task rewards not defined

    task number : 3
    task name : Coordinape facilitator
    task status : IN_PROGRESS
    task created time : 2022-05-26T09:13:32.241Z
    task done time : None
    task owner : Aclay
    task assignees : ricktik6
    task rewards not defined

    task number : 4
    task name : Implementing USDC payments on the Polygon chain
    task status : IN_PROGRESS
    task created time : 2022-05-26T09:08:58.165Z
    task done time : None

    task owner : Aclay
    task assignees : ricktik6
    task rewards not defined

    task number : 5
    task name : April: Providing advise / guidance within the Finance Squad
    task status : DONE
    task created time : 2022-05-26T08:49:18.424Z
    task done time : 2022-05-26T09:15:20.770Z
    task owner : ricktik6
    task assignees : Aclay
    task rewards not defined

    task number : 6
    task name : Restructuring reward payment process
    task status : DONE
    task created time : 2022-05-25T08:06:43.302Z
    task done time : 2022-05-27T08:51:45.360Z
    task owner : Aclay
    task assignees : ricktik6
    task rewards not defined

    task number : 7
    task name : May: Providing advise / guidance within the Finance Squad
    task status : DONE
    task created time : 2022-05-25T08:02:23.865Z
    task done time : 2022-05-26T09:15:24.475Z
    task owner : ricktik6
    task assignees : Aclay
    task rewards not defined

    task number : 8
    task name : Finance Coordinator tasks May
    task status : DONE
    task created time : 2022-05-25T07:47:56.913Z
    task done time : 2022-05-27T10:25:49.946Z
    task owner : Aclay
    task assignees : ricktik6
    task rewards not defined

    task number : 9
    task name : Build an autonomous reward payment process for contributors
    task status : IN_PROGRESS
    task created time : 2022-05-14T18:44:31.728Z
    task done time : None
    task owner : ricktik6
    task assignees : Anukriti
    task rewards : 1000.0

project_num : 6
project_name : Office Hours Test
number of tasks in project : 0

project_num : 7
project_name : Community Experience Squad Open Bounties
number of tasks in project : 0

## IGNORE EVERYTHING ELSE BELOW AS THEY ARE EXPERIMENTAL

In [ ]:
gkk = df.groupby(['type3', 'project_num', 'tasks', 'task_num'])
gkk.first()

In [ ]:
gkk = df.groupby(['type3', 'project_num'])
gkk.first()

In [ ]:
# df.groupby("state")["last_name"].count()
df.groupby(['type3', 'project_num'])['tasks'].count()

In [ ]:
# Get the number of project_num / entries in each type3
df.groupby('type3')['project_num'].unique()

In [ ]:
df['type3'][df['tasks'] == 'name'].count()

In [ ]:
done1.loc[(done1['detail1']=='rewards') & (done1['detail2']=='amount')].value

In [ ]:
df[(df['detail1']=='assignees') & (df['detail2']=='username')& (df['value']=='Fabs')]

In [ ]:
df[(df['project_num']=='3') & (df['task_num']=='16')]

In [ ]:
# df['value'] = pd.to_numeric(df['value'])

In [ ]:
# import pandas as pd
# # df = pd.read_json('an-dao.json', orient='records', encoding="utf8")
# # df = pd.json_normalize('an-dao.json', 'projects', ['data', 'organization'])
# # df = pd.json_normalize('an-dao.json', 'submissions')
# df = pd.json_normalize(data, record_path=['submissions']) 
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.json_normalize.html
# df.locations = pd.DataFrame(df.slug.values.tolist())['name']
# df.head()